<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--过滤,去除选中-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>Error</level>
            <!--配置到Error就禁止-->
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
           <pattern>
               %msg%n
           </pattern>
        </encoder>
        <!--滚动策略:时间滚动-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>
                e:\c\info.%d.log
            </fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--过滤,保留选中及以上-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>Error</level>
            <!--只输出error及以上-->
        </filter>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
        <!--滚动策略:时间滚动-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>
                e:\c\error.%d.log
            </fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--这个配置应用到哪里,root整个项目都使用-->
    <root level="info">
        <appender-ref ref="consoleLog"></appender-ref>
        <appender-ref ref="fileInfoLog"></appender-ref>
    </root>
</configuration>